<div class="sheet">
  <mat-tab-group>
    <mat-tab label="ID">
      <mat-card>
        <form class="example-form">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              [(ngModel)]="CharacterSheet.Name"
              name="Name"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea
              matInput
              placeholder="Description"
              [(ngModel)]="CharacterSheet.Description"
              name="Description"
            ></textarea>
          </mat-form-field>
        </form>
      </mat-card>

      <mat-card>
        <mat-card-header>Fate Points</mat-card-header>

        <mat-form-field>
          <mat-label>Current</mat-label>
          <input
            matInput
            placeholder="Current"
            type="number"
            [(ngModel)]="CharacterSheet.CurrentFatePoints"
          />
        </mat-form-field>
        of
        <mat-form-field>
          <mat-label>Refresh</mat-label>
          <input
            matInput
            placeholder="Refresh"
            type="number"
            [(ngModel)]="CharacterSheet.Refresh"
          />
        </mat-form-field>
      </mat-card>
      <mat-card>
        <mat-card-header>Aspects</mat-card-header>
        <mat-list>
          <mat-list-item *ngFor="let aspect of CharacterSheet.Aspects">
            <input
              placeholder="Aspect Text"
              matInput
              type="text"
              [(ngModel)]="aspect.Text"
            />
            <button mat-button color="warn" (click)="DeleteAspect(aspect.Id)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <button mat-raised-button (click)="AddAspect()">Add Aspect</button>
      </mat-card>
    </mat-tab>
    <mat-tab label="Skills">
      <mat-card>
        <mat-list>
          <mat-list-item *ngFor="let skill of OrderedSkills">
            <button mat-button color="warn" (click)="DeleteSkill(skill.Name)">
              <mat-icon>close</mat-icon>
            </button>
            <mat-label>{{ skill.Name }}</mat-label>
            <input
            class="right-align"
              placeholder="Skill Value"
              matInput
              type="number"
              [(ngModel)]="skill.Value"
            />
          </mat-list-item>
        </mat-list>
      </mat-card>
    </mat-tab>
    <mat-tab label="Stunts and Extras">
      <mat-card>
        <mat-card-header>Stunts</mat-card-header>
        <mat-list>
          <mat-list-item *ngFor="let stunt of CharacterSheet.Stunts">
            <button mat-button color="warn" (click)="DeleteStunt(stunt.Id)">
              <mat-icon>close</mat-icon>
            </button>
            <input
              placeholder="Stunt Text"
              matInput
              type="text"
              [(ngModel)]="stunt.Name"
            />
          </mat-list-item>
        </mat-list>
        <button mat-raised-button (click)="AddStunt()">Add Stunt</button>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
